!!!
%html
  %head
    %title Log Stats @ 2011-01-18 07:09
    %style
      :sass
        $background_color_light: #454342
        $background_color_dark: #333335
        $text_color: white 
        $link_color: #a9c743
        $border_color: #272b3b
      
        body
          :font-size 62.5%
          :font-family Helvetica, sans-serif
          :background $background_color_light
          :color $text_color

        #logstats
          :width 400px
          :height 241px
          :background $background_color_dark
          :border 1px solid $border_color
          :text-align center

          h1
            :font-size 120%
            :text-decoration underline
            :font-variant small-caps
            :text-align center
            :margin 0 0 10px 0
            :padding 0

          ul
            :list-style-type none
            :margin 0
            :padding 0
            :text-align left

            li
              :margin 0
              :padding 0

          .duration
            :font-size 200%
            :color #cacaca

            span
              :color $text_color

          .remaining, .average
            :margin-top 5px
          
          .recent, .history
            :width 200px
            :float left

          .recent
            .current, .today
              :padding 5px

            .current
              :height 50px
              :border-bottom 1px solid $border-color

          .history
            .today, .week, .month
              :height 70px
              :padding 5px
              :border-left 1px solid $border_color

            .today, .week
              :border-bottom 1px solid $border-color
              

  %body
    #logstats
      .recent
        .current
          %h1 Current
          %span.duration
            %span.minute 45
            min
        .today
          %h1 Projects
          %ul.projects
            %li
              %span.project MB1
              %span.duration
                %span.hour 1
                hr
                %span.minute 57
                min
            %li
              %span.project MY1
              %span.duration
                %span.hour 2
                hr
                %span.minute 30
                min
      .history
        .today
          %h1 Today
          %span.duration
            %span.hour 5
            hr
            %span.minute 57
            min
          .remaining
            (target met!)
        .week
          %h1 Week
          %span.duration
            %span.hour 5
            hr
            %span.minute 57
            min
          .remaining
            (20 hr 3 min remaining)
        .month
          %h1 Month
          %span.duration
            %span.hour 35
            hr
            %span.minute 57
            min
          .average
            (6 hr 12 min average)
